= simple_form_for @order, data: {submits_to_ajax_modal: true} do |f|
  .form-group
    = f.input :quantity, label: "Quantidade", input_html: {class: "form-control"}
  .form-group
    = f.input :total, label: "Total", input_html: {class: "form-control"}
  .form-group
    %label{class: "#{'field_with_errors' if @order.errors[:order_date].any?}"}
      %abbr{title: "required"} *
      Data do pedido
    = f.text_field :order_date, "data-provide" => 'datepicker', class: "form-control", "data-date-format" => "dd-mm-yyyy"
    - if @order.errors[:order_date].any?
      .field_with_errors
        = @order.errors[:order_date].join(", ")
  .form-group
    = f.input :product_id, label: "Produto", collection: Product.all, input_html: {class: "form-control"}
  .form-group
    = f.input :supplier_id, label: "Fornecedor", collection: Supplier.all, input_html: {class: "form-control"}
  .actions
    = f.button :submit, "Salvar", class: 'btn btn-primary'