.login-box{ style: "background-color: #F67F19;" }
  = simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "login-form" }) do |f|
    .logo-login
      = image_tag("logo.svg")
    .form-group
      = f.input :username, input_html: { class: 'form-control' }, label: "Usuário"
      = f.input :password, required: false, input_html: { class: 'form-control' }, label: "Senha"
    .actions
      = f.button :submit, "Log in", class: "login-button"
