.table-container
  .table-information
    %h1.table-title Fornecedores
    .table-actions
      = link_to 'Adicionar fornecedor', new_supplier_path, class: "new-button btn btn-success text-light", data: {loads_in_ajax_modal: true}
  .table-responsive
    %table.table.table-hover
      %thead
        %tr
          %th ID
          %th Nome
          %th Cidade
          %th Telefone
          %th Ações
      %tbody
        - @suppliers.each do |supplier|
          %tr
            %td= supplier.id
            %td= supplier.name
            %td= supplier.city
            %td= supplier.phone
            %td 
              .actions
                = link_to 'Editar', edit_supplier_path(supplier), class: "btn btn-warning text-light", data: {loads_in_ajax_modal: true}
                = link_to 'Apagar', supplier, method: :delete, data: { confirm: 'Tem certeza?' }, class: "btn btn-danger text-light"