!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Mercado
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
  %body
  .general-container
    .crud-nav
      .logo
        = image_tag("logo.svg")
      #navbarSupportedContent.navbar-collapse
        %ul.navbar-nav.mr-auto
          %li.nav-item
            %a.nav-link{:href => "/products", :class => current_page?("/products") ? "active" : ""}
              %span Produtos
          %li.nav-item
            %a.nav-link{:href => "/categories", :class => current_page?("/categories") ? "active" : ""}
              %span Categorias
          %li.nav-item
            %a.nav-link{:href => "/brands", :class => current_page?("/brands") ? "active" : ""}
              %span Marcas
    .general-content
      .page-header
        .search
        .admin
          = image_tag "user-default.webp", class: "user-icon"
          Admin
          = link_to image_tag("gear.svg", class: "gear-icon"), href: "/admin"
          -# = link_to "Sair", destroy_user_session_path, method: :delete, class: "logout"

      .container
        - flash.each do |type, msg|
          .alert.alert-info
            = msg
        = yield
  = render 'ajax_modal_rails/frame'

:javascript
  $(document).ready(function () {
      $('ul.navbar-nav > li').click(function (e) {
          $('ul.navbar-nav > li').removeClass('nav-active');
          $(this).addClass('nav-active');
      });
  });